@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{

    font-family: 'Lato', SansSerif, serif;
}
h4{
    align-items: center;
    background-color: chocolate;
    padding:12px;
    width: 100%;
}
label{
    font-size: medium;
    display:flex;
}
input[type="text"]{
                    height: 30px;
                    flex-direction: column;
                    align-items: flex-start;
                    align-self: stretch;
                    flex: 1 0 0;
                    min-width:100%;
                    border:1px solid lightgrey;
                    width:300px;
}
.singleField  input[type="text"]{
    width:100% !important;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    align-items: flex-start;
    gap: 24px;
    border:1px solid lightgrey;
    padding:24px 24px 24px 24px;
    margin-top: 40px;
    
}

#type-of-employment{
    display:flex;
    gap:8px;
    align-items: flex-start;
    align-self: stretch;
    }

input[type="checkbox"]{
    width:16px;
    height:16px;
    border-radius:4px;
    padding-left:4px;
    border:1px solid lightgray;
}
input[type="date"]{
    height: 30px;
    border:1px solid lightgrey;
}